<html>

<head>
    <title>ToDo LisT</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>my todo list</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add an item..." required>
            <button type="submit">ADD</button>
        </form>
        <ul>
            <%for(var i=0; i < todos.length ; i++){%>
                <li>
                    <%=todos[i].item%>
                </li>
                <%}%>
        </ul>
    </div>
</body>

</html>